body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin: 24px;
    
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    min-width: 16px;
    min-height: 16px;
    border: 1px solid black;
    background-color: blue;
}

.grid:hover {
    background-color: rebeccapurple;
}