body {
    display: flex;
    flex-direction: column;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin: 24px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 640px;
    min-height: 640px;
}

.grid {
    min-width: 2px;
    min-height: 2px;
    border: 1px solid black;
    background-color: gray;
}